.section-b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body {
  background-color: #e6eff6;
}

.component {
  margin: 11% 24%;
  width: 50%;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
}

.section-a {
  padding-top: 1px;
}

.box1 {
  background-color: #2bb3b1;
  border-bottom-left-radius: 5px;
}

.box2 {
  background-color: #4abebd;
  border-bottom-right-radius: 5px;
}

.container {
  margin: 40px;
  color: #ffffff;
}

.container > h2 {
  font-weight: 700;
  color: hsl(179, 62%, 43%);
}

.paragraph {
  line-height: 25px;
  color: hsl(210, 5%, 64%);
}

.sub-heading {
  font-weight: 700;
}

.yellow_txt {
  color: hsl(71, 73%, 54%);
  font-size: large;
}

.text_box {
  line-height: 23.5px;
  font-size: 15px;
  color: #d1e7e7;
}

.big_text {
  font-weight: 700;
  font-size: 35px;
  padding-right: 10px;
}

.light_lemon {
  color: #ebe7e7;
}
.text_section {
  display: flex;
  align-items: center;
  margin-top: -25px;
}

button {
  margin-top: 40px;
  width: 100%;
  padding: 14px;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  font-size: medium;
  border-radius: 5px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: #bfdf32;
  color: #ffffff;
}

@media (max-width: 770px) {
  .component {
    margin: 10%;
    width: 80%;
  }

  .section-b {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}
